.simexp_bootstrap_row {
    display: block;
    margin: 25px 10px 25px 10px !important;
}

.simexp_bootstrap_viewer_column {
    padding-left: 5px !important;
    padding-right: 0px !important;
}

.simexp_viewer_div {
    background-color: lightsteelblue;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
}

.simexp_viewer_canvas {

    position: relative;
    left: -9px;                
}

.simexp_viewer_label {
    display: inline-block;
    height: 50px;
}

.simexp_tree_button {
    background-color: black;
    opacity: 0.5;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin-left: 10px;
}

#simexp_tree_roi_selector,
#simexp_tree_scale_selector {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
    opacity: 0.9;
    border-radius: 5px;
    border: 0px;
    /*padding: 10px 10px;*/
}

.simexp_selector_label {
    background-color: black;
    opacity: 0.5;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    margin-left: 5px !important;
}

.simexp_label {
    background-color: black;
    opacity: 0.5;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    margin-left: 10px;
}        

.simexp_tree_node {
    cursor: pointer;
}

.simexp_tree_node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.simexp_tree_node text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.simexp_tree_link {
    fill: none;
    /* Original values */
    /*stroke: #ccc;*/
    /*stroke-width: 1.5px;*/
    stroke-width: 2px;
}

.simexp_tree_tooltip {
    position: absolute;
    text-align: left;
    /*width: 60px;
        height: 28px;*/
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background: lightsteelblue;
    border-radius: 8px;
    pointer-events: none;
    border-color: black;
}

.simexp_tree_tooltip_fieldtitle {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: black;
}